::selection {
   background-color: #fff;
   color: #000;
   text-shadow: none;
}

.wrapper {
   background-image: linear-gradient(#20202e, #bbbbbb);
   height: 100vh;
   font-family: "Inter-Variable";
   font-size: 34px;
   font-variation-settings: "wght" 400;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   /* mix-blend-mode: difference; */
}

.main-title {
   font-size: 85px;
   font-variation-settings: "wght" 800;
   /* color: #9e9696; */
   color: #fff;
   text-shadow: 2px 2px 0 #3a3a3a;
   mix-blend-mode: difference;
}

/* .main-title::before {
   position: absolute;
   content: "version 0.1";
   font-size: 16px;
   text-shadow: 1px 1px 0 #fff;
   top: -2px;
   right: -75px;
} */

.main-title {
   animation-name: selected;
   animation-duration: 0.6s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-direction: alternate;
}

/* .lysina-image {
   display: none;
   mix-blend-mode: normal;
   position: absolute;
   top: -6px;
   left: 242px;
   width: 45px;
   z-index: -1;
} */

.lysina-image {
   position: absolute;
   bottom: -4px;
   left: -8px;
   width: 35px;
   z-index: 777;
}

@keyframes selected {
   0% {
      scale: 1;
   }

   100% {
      scale: 1.05;
   }
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 355px;
}

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0px;
   width: 355px;
   position: relative;
   border-radius: 14px;
}

/* .markers::before {
   content: "1";
   font-family: "Trajanpro";
   position: absolute;
   top: 5px;
   left: 10px;
   color: #fff;
   opacity: 0;
   transition: all 0.1s ease;
}

.markers::after {
   content: "Abaddon";
   font-family: "Trajanpro";
   position: absolute;
   top: 5px;
   right: 10px;
   color: #fff;
   opacity: 0;
   transition: all 0.1s ease;
} */

.last-hero {
   text-transform: uppercase;
   letter-spacing: 0.3px;
   font-variation-settings: "wght" 600;
   font-size: 22px;
   color: #fff;
   transition: all 0.2s ease;
   mix-blend-mode: difference;
}

.last-hero__id {
   color: #3a3a3a;
}

.last-hero__name {
   color: #f5f5f5;
}

.hero-title {
   font-family: "Inter-Variable";
   font-weight: 400;
   font-size: 46px;
   font-variation-settings: "wght" 600;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
   transition: all 0.1s ease;
   position: absolute;
   z-index: 5;
   pointer-events: none;
   mix-blend-mode: difference;
}

.hero-title {
   /* animation-name: selected; */
   animation-duration: 0.7s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-direction: alternate;
}

.hero-image {
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url(../images/background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   object-position: center;
   width: 100%;
   height: 190px;
   border-radius: 14px;
   border: 2px solid #000000;
   transition: all 0.5s ease;
   /* filter: grayscale(1); */
   text-transform: uppercase;
   font-size: 28px;
   position: relative;
   z-index: 1;
   /* opacity: 0; */
}

.hero-image::before {
   display: none; /* Если захочется добавить картинку поверх героев */
   transition: all 0.2s ease;
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 12px;
   background-image: repeating-linear-gradient(
         90deg,
         #353535,
         #353535 5px,
         transparent 5px,
         transparent 10px
      ),
      repeating-linear-gradient(
         0deg,
         #222222,
         #222222 5px,
         transparent 5px,
         transparent 10px
      ),
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
   background-position: center;
   background-repeat: no-repeat;
   background-size: auto;
   z-index: 2;
   opacity: 1;
}

.hero-id {
   display: none;
   color: #fff;
   position: absolute;
   top: 5px;
   left: 10px;
}

.hero-name {
   display: none;
   color: #fff;
   position: absolute;
   top: 12px;
   opacity: 0.5;
   background-color: #000;
   width: 100%;
   height: 50px;
   text-align: end;
   margin: 0 auto;
   padding: 0 10px;
}

.hero-image:hover {
   scale: 1.1;
   filter: grayscale(0);
   border: 2px solid #ffffff;
   opacity: 1;
   cursor: default;
}

/* .content:has(.hero-image:hover) .markers::after {
   opacity: 0.5;
}

.content:has(.hero-image:hover) .markers::before {
   opacity: 0.5;
} */

.content:has(.hero-image:hover) .hero-title {
   scale: 0.6;
   opacity: 0;
}

.content:has(.hero-image:hover) .last-hero {
   scale: 0.6;
   translate: 0 50px;
   /* opacity: 0; */
}

.content:has(.hero-image:hover) .hero-image::before {
   opacity: 0;
}

.button {
   text-transform: uppercase;
   position: relative;
   margin-top: 20px;
   font-weight: 400;
   background-color: transparent;
   color: #000;
   border: 2px solid #000;
   border-radius: 14px;
   height: 55px;
   width: 100%;
   font-size: 30px;
   /* mix-blend-mode: difference; */
   scale: 1;
   transition: all 0.15s ease;
   font-variation-settings: "wght" 400;
}

.button:hover {
   cursor: pointer;
   scale: 1.05;
   translate: 0 -3px;
   font-variation-settings: "wght" 500;
   background-color: #000000;
   color: #ffffff;
   /* height: 58px; */
}

.button:active {
   font-variation-settings: "wght" 800;
   background-color: #fff;
   color: #000;
}

.heroes-list__button {
   /* display: none; */
}

.dialog {
   max-width: 490px;
   border-radius: 14px;
   border: 4px #000 solid;
   display: flex;
   flex-direction: column;
   gap: 30px;
   justify-content: space-between;
   transition: 0.3s ease;
   opacity: 1;
   scale: 1;
}

.dialog::backdrop {
   background-color: #383838;
   opacity: 0.75;
}

.dialog:not([open]) {
   pointer-events: none;
   padding: 0;
   border: 0;
   gap: 0;
   opacity: 0;
   height: 0;
   width: 0;
   scale: 0;
}

.heroes-list {
   width: 355px;
}

.dialog__text {
   opacity: 1;
   transition: all 1.5s ease;
   transition-delay: 0.8s;
}

.dialog:not(.dialog:not([open])) .dialog__text {
   opacity: 0;
}

.dialog__text__special {
   position: absolute;
   top: 34px;
   opacity: 0;
   transition: all 1.5s ease;
   transition-delay: 1.5s;
}

.dialog:not(.dialog:not([open])) .dialog__text__special {
   opacity: 1;
}

.powered {
   font-family: "Inter-Variable";
   font-variation-settings: "wght" 200;
   font-size: 12px;
   position: absolute;
   bottom: 5px;
   right: 5px;
}

@media (524px >= width) {
   .main-title {
      font-size: 65px;
   }

   .main-title::before {
      font-size: 8px;
      top: 0;
      right: -40px;
      display: none;
   }
}
